/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
}

input,
.signup-button,
.login-button {
  margin: 5px 0px;
}

.signup-button,
.login-button {
  cursor: pointer;
} */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 list-style: none;
 text-decoration: none;
}

:root {
 --header-height: 3.5rem;
 --first-color: hsl(28, 88%, 62%);
 --title-color: hsl(0, 0%, 95%);
 --text-color: hsl(28, 88%, 62%);
 --body-color: hsl(0, 0%, 100%);
 --body-font: "Montserrat", sans-serif;
 --second-font: "Dancing Script", cursive;
 --h2-font-size: 1.25rem;
 --small-font-size: 0.813rem;
 --font-semi-bold: 600;
 --z-tooltip: 10;
 --z-fixed: 100;
}

body {
 background-color: var(--body-color);
 color: var(--text-color);
 font-family: var(--body-font);
 list-style: none;
 text-decoration: none;
}
a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity, 1));
  text-decoration: none !important;
}
ul {
 list-style: none;
}

a {
 text-decoration: none;
}
.eye {
  font-size: 27px;
  margin-right: -32px;
  position: relative;
  right: 50px;
  color: deepskyblue;
}